    /*
    Flaticon icon font: Flaticon
    Creation date: 15/08/2016 14:45
    */

    @font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-baguette:before { content: "\f100"; }
.flaticon-birthday:before { content: "\f101"; }
.flaticon-birthday-cake:before { content: "\f102"; }
.flaticon-birthday-cake-1:before { content: "\f103"; }
.flaticon-birthday-cake-piece:before { content: "\f104"; }
.flaticon-bread-basket:before { content: "\f105"; }
.flaticon-bun:before { content: "\f106"; }
.flaticon-cake:before { content: "\f107"; }
.flaticon-cake-1:before { content: "\f108"; }
.flaticon-chocolate:before { content: "\f109"; }
.flaticon-cookies:before { content: "\f10a"; }
.flaticon-croissant:before { content: "\f10b"; }
.flaticon-cupcake:before { content: "\f10c"; }
.flaticon-cupcake-1:before { content: "\f10d"; }
.flaticon-cupcake-2:before { content: "\f10e"; }
.flaticon-cupcake-3:before { content: "\f10f"; }
.flaticon-cupcake-4:before { content: "\f110"; }
.flaticon-cupcake-dessert:before { content: "\f111"; }
.flaticon-donut:before { content: "\f112"; }
.flaticon-doughnut:before { content: "\f113"; }
.flaticon-electric-mixer:before { content: "\f114"; }
.flaticon-electric-mixter:before { content: "\f115"; }
.flaticon-food:before { content: "\f116"; }
.flaticon-food-1:before { content: "\f117"; }
.flaticon-food-10:before { content: "\f118"; }
.flaticon-food-11:before { content: "\f119"; }
.flaticon-food-12:before { content: "\f11a"; }
.flaticon-food-13:before { content: "\f11b"; }
.flaticon-food-2:before { content: "\f11c"; }
.flaticon-food-3:before { content: "\f11d"; }
.flaticon-food-4:before { content: "\f11e"; }
.flaticon-food-5:before { content: "\f11f"; }
.flaticon-food-6:before { content: "\f120"; }
.flaticon-food-7:before { content: "\f121"; }
.flaticon-food-8:before { content: "\f122"; }
.flaticon-food-9:before { content: "\f123"; }
.flaticon-gingerbread:before { content: "\f124"; }
.flaticon-hamburger:before { content: "\f125"; }
.flaticon-ice-cream:before { content: "\f126"; }
.flaticon-ice-cream-1:before { content: "\f127"; }
.flaticon-ice-cream-2:before { content: "\f128"; }
.flaticon-lollipop:before { content: "\f129"; }
.flaticon-lovely-cupcake:before { content: "\f12a"; }
.flaticon-mint:before { content: "\f12b"; }
.flaticon-muffin-decorated-with-a-chocolate-heart:before { content: "\f12c"; }
.flaticon-pie:before { content: "\f12d"; }
.flaticon-pie-1:before { content: "\f12e"; }
.flaticon-pie-2:before { content: "\f12f"; }
.flaticon-pizza:before { content: "\f130"; }
.flaticon-pretzel:before { content: "\f131"; }
.flaticon-sandwich:before { content: "\f132"; }
.flaticon-toaster:before { content: "\f133"; }
.flaticon-wheat:before { content: "\f134"; }
.flaticon-whisk-and-bowl:before { content: "\f135"; }
    
    $font-Flaticon-baguette: "\f100";
    $font-Flaticon-birthday: "\f101";
    $font-Flaticon-birthday-cake: "\f102";
    $font-Flaticon-birthday-cake-1: "\f103";
    $font-Flaticon-birthday-cake-piece: "\f104";
    $font-Flaticon-bread-basket: "\f105";
    $font-Flaticon-bun: "\f106";
    $font-Flaticon-cake: "\f107";
    $font-Flaticon-cake-1: "\f108";
    $font-Flaticon-chocolate: "\f109";
    $font-Flaticon-cookies: "\f10a";
    $font-Flaticon-croissant: "\f10b";
    $font-Flaticon-cupcake: "\f10c";
    $font-Flaticon-cupcake-1: "\f10d";
    $font-Flaticon-cupcake-2: "\f10e";
    $font-Flaticon-cupcake-3: "\f10f";
    $font-Flaticon-cupcake-4: "\f110";
    $font-Flaticon-cupcake-dessert: "\f111";
    $font-Flaticon-donut: "\f112";
    $font-Flaticon-doughnut: "\f113";
    $font-Flaticon-electric-mixer: "\f114";
    $font-Flaticon-electric-mixter: "\f115";
    $font-Flaticon-food: "\f116";
    $font-Flaticon-food-1: "\f117";
    $font-Flaticon-food-10: "\f118";
    $font-Flaticon-food-11: "\f119";
    $font-Flaticon-food-12: "\f11a";
    $font-Flaticon-food-13: "\f11b";
    $font-Flaticon-food-2: "\f11c";
    $font-Flaticon-food-3: "\f11d";
    $font-Flaticon-food-4: "\f11e";
    $font-Flaticon-food-5: "\f11f";
    $font-Flaticon-food-6: "\f120";
    $font-Flaticon-food-7: "\f121";
    $font-Flaticon-food-8: "\f122";
    $font-Flaticon-food-9: "\f123";
    $font-Flaticon-gingerbread: "\f124";
    $font-Flaticon-hamburger: "\f125";
    $font-Flaticon-ice-cream: "\f126";
    $font-Flaticon-ice-cream-1: "\f127";
    $font-Flaticon-ice-cream-2: "\f128";
    $font-Flaticon-lollipop: "\f129";
    $font-Flaticon-lovely-cupcake: "\f12a";
    $font-Flaticon-mint: "\f12b";
    $font-Flaticon-muffin-decorated-with-a-chocolate-heart: "\f12c";
    $font-Flaticon-pie: "\f12d";
    $font-Flaticon-pie-1: "\f12e";
    $font-Flaticon-pie-2: "\f12f";
    $font-Flaticon-pizza: "\f130";
    $font-Flaticon-pretzel: "\f131";
    $font-Flaticon-sandwich: "\f132";
    $font-Flaticon-toaster: "\f133";
    $font-Flaticon-wheat: "\f134";
    $font-Flaticon-whisk-and-bowl: "\f135";